<div class="parcours">
  <div class="parcours-label">Mon parcours</div>
  <h1 class="timeline-title">Expériences & Certifications</h1>

  <div class="timeline">

    <a href="#2015" class="event">
      <i class="fa-solid fa-user-graduate"></i>
      <h3>2015</h3>
      <p>Diplôme d'ingénieur</p>
    </a>

    {% for item in parcours %}
      <a
        {% if item.type == "experience" %}
          href="{% url 'redirect-to-experience' slug=item.data.slug %}"
          class="event"
        {% elif item.type == "certification" %}
          href="{{ item.data.link }}"
          class="event"
        {% endif %}
      >
        <i class="{{ item.data.icon_name }}"></i>
        <h3>{{ item.year }}</h3>
        {% if item.type == "experience" %}
          <p>{{ item.data.poste }}</p>
        {% elif item.type == "certification" %}
          <p>{{ item.data.title }}</p>
        {% endif %}
      </a>
    {% endfor %}

  </div>
</div>