{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Commandes utiles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/commandes-utiles/css/commandes-utiles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  {% include 'common/navbar_menu-mobile.html' %}
  <div class="page-header">
    <div class="page-header-inner">

        <div class="page-header-label">Commandes utiles</div>

        <h1 class="page-header-title">
            Mes fiches de commandes
        </h1>

        <p class="page-header-sub">
            Commandes Unix, Git, Docker, Kubernetes, GPG et outils essentiels du quotidien.
        </p>

    </div>
</div>

  <main class="container" role="main" aria-label="Liste des commandes utiles">

    <ul class="section-list">
      {% for section in sections %}
        <li>
          <a href="{% url 'commandes_utiles_detail' slug=section.slug %}" class="section-link" tabindex="0" aria-label="Accéder à la section {{ section.title }}">
            <span class="icon"><i class="{{ section.emoji }}" aria-hidden="true"></i></span>
            <div class="content">
              <h2>{{ section.title }}</h2>
              <p>{{ section.description }}</p>
            </div>
          </a>
        </li>
      {% empty %}
        <li class="empty-message"><p>Aucune section disponible pour le moment.</p></li>
      {% endfor %}
    </ul>
  </main>



  {% include 'common/footer.html' %}

  <script src="{% static 'common/js/mobile-menu.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
