{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yacine Portfolio</title>
    <link rel="stylesheet" href="{% static 'common/css/coming_soon.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'common/assets/img/favicon.png' %}"> 
  </head>

  <body>
    {% include 'common/navbar_menu-mobile.html' %}
    <div class="coming-soon-background main"></div>

    <div class="coming-soon">
      <h1>Arrive bientôt</h1>
      <h2>Je commencerai à travailler sur cette section prochainement. </h2>
    </div>
    
    <script src="{% static 'common/js/mobile-menu.js' %}"></script>
  </body>
</html>